body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-list-item {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.post-list-item-title {
  text-align: left;
  margin-left: 10px;
  min-width: 250px;
}

.post-list-item-author {
  font-weight: bold;
  font-size: small;
}

.post-list-item-posted-by {
  text-align: right;
}

.posted-by {
  font-style: italic;
  font-size: small;
}

.post-list-item-date {
  text-align: right;
}

.posted-on {
  font-style: italic;
  font-size: small;
}